In [ ]:
a=10
b=20
c=a+b
print(c)

In [1]:
a=10
b=20
c=a+b
print(c)

30

In [2]:
#print hello world
print("Helloworld")

Helloworld

In [7]:
#WAS to intialize the value
a,b,c=200,120,250
print(a)
print(b)
print(c)

200
120
250

In [13]:
#print the type of data 
a={100,200}
type(a)

set

In [14]:
#print address of the memory block
a={100,200}
id(a)

1650332611104

In [16]:
a={100,200}
id({100,200})

1650332610432

In [4]:
#print your details first store your details extract the value and display
#variable concept
name='rahul'
age=26
mobile=9855106623
eamail='rahul@gmail.com'
height=5.5
pancard=True
print(name)
print(age)
print(name,age,mobile,height,pancard)
#there are some disadvantage to use variable concept the we have to remember all the attributes of the person so it is difficult
# to overcome this list is used
rahul=['rahul',9855106623,'rahul@gmail.com',5.5 ,True]
print(rahul[2])
print(rahul[-1])
# disadvantage of list is we have to remember the postion to fetch the particular item
# to overcome this dictionary is used
rahul={'name':'rahul','age':26, mobile:9855106623,'email':'rahul@gmail.com',height:5.5,pancard:True}
#there are some disadvantage of dictionary so to overcome that oops concept is used

rahul
26
rahul 26 9855106623 5.5 True
rahul@gmail.com
True

In [6]:
# to swap the two values with a temp variable 
x=10
y=20
temp=x
x=y
y=temp
print(x)
print(y)

20
10

In [1]:
#swap the two numbers without temp variable
m=[10,20]
n={10,20}
m,n=n,m
print(m)
print(n)

{10, 20}
[10, 20]

In [3]:
# to initialize a value and print the value after print the value the reinitialize the new value to the existing variable and display the value
#initialization
a={'a':'pyspiders'}
#fetch
print(a)
#modification
a['a']='qspiders'
print(a)
print(a['a'])
#reinitialization
a=[10,20,30]
print(a)
#concatination
a+=[40,50,60]
print(a)
#deletion
del a
print(a)

{'a': 'pyspiders'}
{'a': 'qspiders'}
qspiders
[10, 20, 30]
[10, 20, 30, 40, 50, 60]

NameError: name 'a' is not defined

In [4]:
#to convert single to multi value data type
#first converted to string then to list
a=10
a=str(a)
print(a)
a=list(a)
print(a)
# direct 
a=10
print(list(str(a)))

10
['1', '0']
['1', '0']

In [5]:
# to concate the two multi value data types(str,list,tuple,set,dict)
#using compound assignment operator
#string
x='hello'
x+='world'
print(x)
#list to list
y=[10,20,30]
y+=[40,50,60]
print(y)
#list to string
y=[10,20,30]
y+='hai'
print(y)
#list to tuple
y=[10,20]
y+=(30,40)
print(y)
#list to dict
y=[10,20,30]
y+={'a':'b','c':'d'}
print(y)
#using only + operator
#only list to list is possible
l=[10,20,30]
l=l+[40,50]
print(l)
#tuple(compount ass) 
t=('a','b','c')
t+=('c','d')
print(t)
#set
x={10,20,30}
x|={40,50}
print(x)
#dictionary
x={10:20,30:40}
x|={'a':'haii','b':'bye'}
print(x)

helloworld
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 'h', 'a', 'i']
[10, 20, 30, 40]
[10, 20, 30, 'a', 'c']
[10, 20, 30, 40, 50]
('a', 'b', 'c', 'c', 'd')
{50, 20, 40, 10, 30}
{10: 20, 30: 40, 'a': 'haii', 'b': 'bye'}

In [ ]:
#to check the length of the collection
#tuple
a=(10,20)
print(len(t))
#dictionary
a={1:2,3:4,5:6}
print(len(a))
#string
a='hello'
print(len(a))
#list
d=[1,2,3,4,5]
print(len(d))
#set
s={10,20,30,40,50,60}
print(len(s))

In [6]:
#to check find out the middle value of the given collection
#len of collection is odd
d=[10,20,30,40,50]
print(d[len(d)//2])
#len of collection is even
l=[10,20,30,40]
print(l[len(l)//2])

30
30

In [10]:
#to concat the new string into the starting of the given string
a='how are u'
b='haii'
a=b+a
print(a)

haiihow are u

In [11]:
#to concat the new string to the ending of the given string
a='how are u'
b='haii'
a=a+b
print(a)

how are uhaii

In [17]:
#to concate the new string into the middle of the given string
a='how u'
print(a[0:3+1]+'are'+a[3:4+1])

how are u

In [18]:
#to modify the new character into the middle of given string
s='pyspiders'
print(s[len(s)//2]) #to fetch the middle value
print(s[0:len(s)//2]+'l'+s[len(s)//2+1:]) #modification

i
pysplders

In [21]:
# 19)to modify the sequence of characters in given string
s='pyspiders'
print(s[0:3]+'PID'+s[6:])
#m20)to replace the old character into a new character of the given string
s='pyspiders'
print(s[:-4]+'D'+s[-3:]) #-ve indexing
s='pyspiders'
print(s[:5]+'D'+s[6:])
# 21) to delete the specific character in the given string
s='pyspiders'
print(s[:2]+s[3:])

pysPIDers
pyspiDers
pyspiDers
pypiders

In [2]:
# 22) to concat the new string into the specific postion of the given string
r='haii are you'
print(r[0:4]+'how'+r[4:])
print(r[0:4+1]+'how'+r[4:])

haiihow are you
haii how are you

In [ ]:
#to delete sequence of characters in given string
s='pyspiders'
print(s[:3]+s[6:])

In [1]:
#to concat the value into the starting of given list
l=[1,2,3]
print(id(l))
l=['a','b']+l
print(l)
print(id(l))
#address is changed
#Slicing concept is used so that address is not changed
t=[10,20,30]
print(id(t))
t[0:0]=['a','b']
print(t)
print(id(t))

2556531271296
['a', 'b', 1, 2, 3]
2556531271104
2556531273792
['a', 'b', 10, 20, 30]
2556531273792

In [3]:
#to concat the new value into the ending of given list
r=['a','b','c']
print(id(r))
r=r+[10,20] #using + operator
print(r)
print(id(r))
y=['ramu','seetha']
print(id(y))
y+=['krishna','radha'] #using compound of assignment operator
print(y)
print(id(y))
t=[1,2,3]
print(id(t))
t[4:4]=[4,5,6] #slicing is used
print(t)
print(id(t))

2556531427456
['a', 'b', 'c', 10, 20]
2556531427712
2556531427264
['ramu', 'seetha', 'krishna', 'radha']
2556531427264
2556531427456
[1, 2, 3, 4, 5, 6]
2556531427456

In [1]:
# 26) to concate the value into the middle of the given list
l=[10,150.12,True,'haii']
print(id(l))
l[len(l)//2:len(l)//2]=['10','20']
print(l)
print(id(l))
#same address

1662106279744
[1, 150.12, '10', '20', True, 'haii']
1662106279744

In [3]:
# 27)to concate the new value to the specific postion of the given list
l=[10,150.12,True,'haii']
l[-2:-2]=[100,200]
print(l)

[10, 150.12, 100, 200, True, 'haii']

In [1]:
# 28) to modify the new value into the specific position of given list
l=[10,150.12,True,'haii']
l[1]=15+6j
print(l)

[10, (15+6j), True, 'haii']

In [6]:
# 29) to modify the new value into the staring of given list
l=[10,150.12,True,'haii']
l[0]={'abc':150}
print(l)

[{'abc': 150}, 150.12, True, 'haii']

In [8]:
# 30) to modify the new value into ending of given list
l=[10,150.12,True,'haii']
l[-1]={'abc':150}
print(l)

[10, 150.12, True, {'abc': 150}]

In [9]:
# 31) to modify the new value into the middle of given list
l=[10,150.12,True,'haii',150]
l[len(l)//2]='haii how are you'
print(l)

[10, 150.12, 'haii how are you', 'haii', 150]

In [10]:
# 32) to modify the first 4 positions values into a given list
h=[1,2,3,4,5,6,7,8,9]
h[0:4]=['a','b','c','d']
print(h)

['a', 'b', 'c', 'd', 5, 6, 7, 8, 9]

In [11]:
# 33) to modify the sequence of values into a given list
d=[1,2,3,4,5,6,7,8,9]
print(d[1::2])
d[1::2]=['a','b','c','d']
print(d)

[2, 4, 6, 8]
[1, 'a', 3, 'b', 5, 'c', 7, 'd', 9]

In [12]:
# 34) to delete the values in the specific postion of given list
l=[10,20,30,40]
del l[1]
print(l)

[10, 30, 40]

In [13]:
# 35) to delete the new value into the ending of the list
s=[10,20,30,40,50]
del s[4]
print(s)
s[0:1] # using slicing
print(s)

[10, 20, 30, 40]
[10, 20, 30, 40]

In [14]:
# 36) to delete the value into the starting of the list
s=[1,2,3,4,5,6,7]
del s[0]
print(s)

[2, 3, 4, 5, 6, 7]

In [15]:
# 37) to delete the value into the middle value
s=[1,2,3,4,5,6,7,8,9]
del s[len(s)//2]
print(s)

[1, 2, 3, 4, 6, 7, 8, 9]

In [5]:
# 38) to concat the value into starting of tuple
r=('a','b','c','d')
r=('e','f')+r 
print(r)
# 39) concating at ending
r=r+('e','f') 
print(r)
# 40) concating in the middle(Tuple will support concatination either starting and ending so slicing is used)
r=r[0:2]+('123','456')+r[2:]

('e', 'f', 'a', 'b', 'c', 'd')
('e', 'f', 'a', 'b', 'c', 'd', 'e', 'f')

In [23]:
# 41) modify the sequence of value in given tuple
t=(1,2,3,4,5,6)
print(t[2])
t=t[:2]+('a',)+t[2+1:] # tuple cannot be modified directly so slicing is used
print(t)

3
(1, 2, 'a', 4, 5, 6)

In [24]:
# 42) delete the sequence of values in given tuple
# deletion is not possible for tuple so slicing is used
t=(10,20,30,40,50)
t=t[0:3]+t[3+1:]
print(t)

(10, 20, 30, 50)

In [25]:
# 43) to concat the new value into the set
s={1,2,3,4,5,6}
print(id(s))
s=s|{10,20,'A'}
print(s)
print(id(s))
s={'a','b','c'}
s|={10,20,30}
print(s)
# address are different

2368297283456
{1, 2, 3, 4, 5, 6, 'A', 10, 20}
2368297283680
{10, 20, 'c', 30, 'a', 'b'}

In [26]:
# 44) to delete the specific value into set
s={1,2,3,4,5,6,10,20,'A'}
print(id(s))
s=s-{4,5,6} # normal - operator is used so address is changed
print(s)
print(id(s))
s={1,2,3,4,5,6,10,20,'A'}
print(id(s))
s-={10,20,'a'} # using compound assignment operator so address is not changed
print(s)
print(id(s))

2368297281664
{'A', 1, 2, 3, 10, 20}
2368297283904
2368297281664
{1, 2, 3, 4, 5, 6, 'A'}
2368297281664

In [27]:
# 45) to concate the new key and value into dictionary
d={'a':150}
print(d)
d['b']=750 # concating the key
print(d)
d={'a':150,'b':750}
e={'c':500,'d':780,'a':'haii'} # concating new value
d|=e
print(d)

{'a': 150}
{'a': 150, 'b': 750}
{'a': 'haii', 'b': 750, 'c': 500, 'd': 780}

In [28]:
# 46)to delete the specific key and value in the given dictionary
d={'a':'haii','b':750,'c':500,'d':780}
del d['c']
print(d)

{'a': 'haii', 'b': 750, 'd': 780}

In [29]:
# 47)to modify the specific value in the given dictionary
x={10:150,20:'haii'}
x[10]=156
print(x)
x|={10:[10,20],20:{10,20,30}}
print(x)

{10: 156, 20: 'haii'}
{10: [10, 20], 20: {10, 20, 30}}

In [33]:
# 48) to concate the list value and tuple values by using type casting
l=['a','b','c']
t=(10,20,30)
# cannot concate only list to list is possible
# convert tuple to list and then concate
print(l+list(t))
print(tuple(l)+t)
# using compound assignment
l+=t
print(l)

['a', 'b', 'c', 10, 20, 30]
('a', 'b', 'c', 10, 20, 30)
['a', 'b', 'c', 10, 20, 30]

In [34]:
# 49) to concate the list value and tuple value without using type casting
l=[100,200,300]
t=(40,'a','b')
l+=t 
print(l)

[100, 200, 300, 40, 'a', 'b']

In [36]:
# 50) to check the given numbe is divisile by 3
n=9
# 1 method
res=n%3
print(res)
print(res==0)
# 2 method
print(n%3==0)
n=16
print(n%3==0)

0
True
True
False

In [38]:
# 51) to check the given number is divisible by 2 and 6
n=12
print(n%2==0 and n%6==0)
n=21
print(n%2==0 and n%6==0)

True
False

In [4]:
# 52) to check the last digit is divisible by 3 from given integer number(without type casting)
n=2026
print((n%10)%3==0)
n=1998
print((n%10)%3==0)

True
False

In [42]:
# 53) to extract the last digit in given integer number(wihtout typecasting)
n=1999
print(n%10)
# last 2 digits
print(n%100)
# last 3 digits
print(n%1000)

9
99
999

In [43]:
# 54) to check the last digit is divisible by 3 from given integer( with typecasting)
n=2026
print(str(n)) # convert to string
print(str(n)[-1]) # fetch the last digit
print(int(str(n)[-1])) # again convert to integer
n=2024
print(int(str(n)[-1])%3==0) # check last digit is divisible by 3
n=2026
print(int(str(n)[-1])%3==0)

2026
6
6
False
True

In [44]:
# 55) to check the given number is greater than 150
n=200
print(n>150)
n=140
print(n>150)

True
False

In [45]:
# 56) to check the given umer is greater than or equal to 100
n=200
print(n>=100)
n=100
print(n>=100)
n=99
print(n>=100)

True
True
False

In [46]:
# 57) to check the given number is less than 150 
n=130
print(n<150)
n=150
print(n<150)

True
False

In [47]:
# 58) to check the given number is less than or equla to 100
n=130
print(n<=150)
n=150
print(n<=150)
n=200
print(n<=150)

True
True
False

In [48]:
# 59) to check the given number is greater than 15 and less than 24
n=23
print(n>15 and n<24)
n=25
print(n>15 and n<24)

True
False

In [52]:
# 60)to check the given number is even
n=5
print(n%2==0)
n=4
print(n%2==0)

False
True

In [51]:
# 61) to check the given number is odd
n=5
print(n%2!=0)
n=4
print(n%2!=0)

True
False

In [54]:
# 62)to check perform the replication of given string with 6
s='abc'
print(s*3)
s=[10,20]
print(s*4)
t=('a','b',None)
print(t*6)
# set and dict will not support

abcabcabc
[10, 20, 10, 20, 10, 20, 10, 20]
('a', 'b', None, 'a', 'b', None, 'a', 'b', None, 'a', 'b', None, 'a', 'b', None, 'a', 'b', None)

In [55]:
# 63) to check the given numberis divisible by 3 and also the number greater than 22
n=24
print(n%3==0 and n>22)
n=21
print(n%3==0 and n>22)

True
False

In [56]:
# 64) to check perform the length of the collection is even or not
g='pyspiders'
print(len(g)%2==0)
g='pyspider'
print(len(g)%2==0)

False
True

In [8]:
# 65) to check perform the lenght of the collection is less than 55 and greater than 16
r='Good Morning Hyderabad'
# method 1
print(len(r)>16 and len(r)<55)
# method 2
print(16<len(r)<55)
# method 2
print(16<len(r) and len(r)>55)

True
True
False

In [10]:
# 66) to check perfom the length of the collection is divisible by 5 and odd
r='HaiGood Morning Hyderabad'
print(len(r)%5==0 and len(r)%2!=0)
r='Good Morning Hyderabad'
print(len(r)%5==0 and len(r)%2!=0)

True
False

In [25]:
# 67) to check extract the middle postion of the given colletion
s='haii'
len(s)//2 #finding the length of the string
print(s[len(s)//2]) #extracting the middle value
r=type(s[len(s)//2]) # finding type of s
print(r)

i
<class 'str'>

In [26]:
# 67)
l=[10,20,30,40]
len(l)//2               # find the length of the list
print(l[len(l)//2])     # extracting the middle value
u=type(l[len(l)//2])    # finding type of l
print(u)

30
<class 'int'>

In [27]:
# 68) to check the given number is greater than 20 and less than 30 it should be even 
n=24
print(n>20 and n<30)

True

In [28]:
# 69) to check the given number is even and it should be less than 120
n=100
print(n%2==0 and n<120)
n=115
print(n%2==0 and n<120)

True
False

In [29]:
# 70) to check the given number is even and present from 40 to 70
n=42
print(n%2==0 and 40<n<70)

True

In [32]:
#71) to check the given number is odd and it should be greater than 97
n=99
print(n%2!=0 and n>97)
n=94
print(n%2!=0 and n>97)

True
False

In [34]:
# 72) to check the given number is less than 122 and greater than 48 and the number should be divisible by 4
n=120
# method 1
print(n%4==0 and 48<n<122)
# method 2
print(n%4==0 and n>48 and n<122)

True
True

In [37]:
# 73) to check the given number is divisible by 3 or 5 
n=12
print(n%3==0 or n%5==0)
n=7
print(n%3==0 or n%5==0)

True
False

In [43]:
# 74) to check the given number is between 100 and 200 including the limit
n=105
print(100<=n<=200)
n=200
print(100<=n<=200)
n=300
print(100<=n<=200)

True
True
False

In [41]:
# 75) to check the given number is between 400 and 600
m=550
print(400<m<600)
m=600
print(400<m<600)

True
False

In [45]:

# 76) to check the given string last character ASCII value should be divisible by 5 or not
s='apple'
print(s[-1]) # extract the last character
ord(s[-1]) # to find the ASCII value we have to use ord() it is a predefined builtin function,accept only one char and returns inter value
s='apple'
print(ord(s[-1])%5==0)

e
False

In [47]:
# 77) to check the given number is present between 60 and 130 and the number should be divisible y 3 and 4 and last digit should be less than 9
n=129
print(60<=n<=130 and n%3==0 and n%4==0 and n%10<9)
n=120
print(60<=n<=130 and n%3==0 and n%4==0 and n%10<9)

False
True

In [49]:
# 78) to check the given nuber is even or less than 25
n=24
print(n%2==0 or n<25)
n=26
print(n%2==0 or n<25)

True
True

In [50]:
# 79) to check the given number is even or greater than 25
n=26 
print(n%2==0 and n>25)

True

In [51]:
# 80) to check the given number is divisible by either 3 or 5
n=12
print(n%3==0 or n%5==0)

True

In [52]:
# 81) to check the given number is not an even number
n=5
print(n%2!=0)

True

In [53]:
# 82) to check the given number is not an odd number
n=4
print(n%2==0)

True

In [54]:
# 83) to check the given number is not divisible by 3
n=12
print(n%3!=0)

False

In [55]:
# 84) to check the given number is not divisible by 3 and 5
n=6
print(n%3!=0 and n%5!=0)

False

In [56]:
# 85) to check the given number is not divisible by 3 or 5
n=6
print(n%3!=0 or n%5!=0)

True